.chords-highlighted {
  color: #206BC4;
  font-weight: bold;
}

.chorus {
  border-left: 2px solid brown;
  padding-left: 15px;
}

.comment {
  color: gray;
  font-style: italic;
}

.tab {
  color: blue;
}

html {
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2 {
    font-weight: 400;
}

pre {
    background-color: inherit;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

pre:before {}

.content {
    width: 560px;
    margin: 0 auto;
    padding-top: 80px;
    color: #444;
}

a,
a:visited {
    color: #c00;
}

.content p {
    font-weight: 200;
}
